head
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(name="description" content="Text case")
    link(rel="icon" href="" sizes="any")
    link(rel="apple-touch-icon-precomposed" href="")
    link(rel="mask-icon" href="")
    title='Text case'
    link(rel='stylesheet', href='./css/style.css')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")
